[data-user-color-scheme="light"]{
  --bg-auto-color: rgba(0, 179, 252, 0.58);
  --timeline-color: rgba(66, 66, 66, 0.3);
  --h5-color:#424242;

}
[data-user-color-scheme="dark"]{
  --bg-auto-color: rgba(255, 122, 149, 0.49);
  --timeline-color:#ffffff;
  --h5-color:#ffffff;
}

.bg-auto{
  background-color: var(--bg-auto-color);
}
.h5{
  color: var(--h5-color);
}
.post-content,
post-custom {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 767px) {
  .post-content,
  post-custom {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 424px) {
  .post-content,
  post-custom {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: var(--timeline-color);
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 1rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
